---
import adultos from '../assets/English-Adultos.jpg'
import kids from '../assets/English-Kids.jpg'
import cambridge from '../assets/logo-cambridge.jpg'
---

<div id="clases" class="pt-28 px-8 md:px-16 xl:px-60 2xl:px-96 flex flex-col gap-12 items-center">
    <h2 class="text-5xl font-bold text-center">Nuestras Clases</h2>
    <article class="border-2 border-[#0a2069] rounded-2xl p-8 flex flex-col md:flex-row gap-10 items-center shadow-xl shadow-[#0a2069]">
        <img src={kids.src} alt="Imagen animada de dos niños leyendo un libro en Inglés" class="w-[250px]">
        <div class="flex flex-col gap-12">
            <h3 class="text-2xl font-semibold">CLASES PARA NIÑOS</h3>
            <p class="text-lg leading-8">Las clases de niños se imparten en su totalidad en inglés, de esta manera logramos que el alumno se familiarice con el idioma. Utilizamos una metodología dinámica, participativa y divertida, basada en actividades, juegos, canciones etc… Nuestro objetivo no es solo que el niño progrese, sino que también pase un rato divertido y aprenda de una manera innata, casi sin darse cuenta. Los grupos se forman teniendo en cuenta la edad y el nivel del alumno.</p>
        </div>
    </article>

    <article class="border-2 border-[#0a2069] rounded-2xl p-8 flex flex-col md:flex-row gap-6 items-center shadow-xl shadow-[#0a2069]">
        <img src={adultos.src} alt="Imagen animada de un adulto estudiando Inglés" class="w-[250px]">
        <div class="flex flex-col gap-12">
            <h3 class="text-2xl font-semibold">CLASES PARA ADULTOS</h3>
            <p class="text-md leading-8">Al contrario que las clases con niños, en las que estas se imparten en su totalidad en inglés, en las clases de adultos, el porcentaje de español-inglés se adecua al nivel del propio grupo, así podríamos decir que en los grupos de nivel básico el profesor habla sobre un 20% de la clase en inglés, 50% en los grupos de nivel intermedio y 100% en los niveles avanzados como no podría ser de otra forma. Esto por supuesto es un cálculo aproximado… </p>
            <p class="text-md leading-8">Al igual que en las clases con niños, también intentamos que estás sean dinámicas y divertidas. Todos hemos tenido alguna vez ese profesor que solo se centraba en dar largas charlas, resultaba terriblemente aburrido y las horas se hacían eternas. En la academia Rainbow fomentamos la participación del alumno, e intentamos que se pierda ese miedo que muchas veces tenemos a hablar en inglés. Nuestro objetivo es que una vez terminada la clase el alumno sea consciente no solo de que ha aprendido nuevo vocabulario, expresiones o alguna estructura gramatical, sino que haya sido de una manera amena y divertida.</p>
        </div>
    </article>

    <article class="border-2 border-[#0a2069] rounded-2xl p-8 flex flex-col md:flex-row gap-6 items-center shadow-xl shadow-[#0a2069]">
        <img src={cambridge.src} alt="Logotipo Cambridge" class="w-[250px]">
        <div class="flex flex-col gap-12">
            <h3 class="text-2xl font-semibold">CENTRO PREPARADOR CAMBRIDGE</h3>
            <p class="text-md leading-8">El poner en el curriculum: ingles medio hablado y escrito ya forma parte del pasado, ya no basta con que tú lo digas, hace falta una titulación oficial que realmente atestigüe cuál es tu nivel. Esta titulación es pedida en prácticamente todos los sitios: trabajos, becas, masters, oposiciones etc…)</p>
            <p class="text-md leading-8">La Academia Rainbow es centro preparador oficial de los exámenes de Cambridge. Nuestra clases están enfocadas a la obtención de dichos títulos (KET, PET, First, Advanced etc…), haciendo hincapié en cada una de las diferentes partes de las que consta el examen (Reading, speaking, writing, listening, grammar and vocabulary). Durante todo el curso el alumno hace ejercicios que han aparecido con anterioridad en los exámenes y se le prepara para saber exactamente el tipo de preguntas de las que consta. Tener un buen nivel es muy importante, pero también lo es, conocer la estructura del examen y saber lo que te van a preguntar y que aspectos van a ser evaluados.</p>
            <p class="text-md leading-8">Nuestra academia se ocupa de todos los trámites necesarios para presentarse al examen. El alumno lo único que tiene que hacer es abonar las tasas que pide la propia universidad. Presentamos a nuestros alumnos en grupos, algo muy positivo, sobre todo a la hora de hacer el examen oral, ya que no es lo mismo mantener una conversación con una persona que conoces y has estado trabajando durante todo el curso, que con un desconocido.</p>
        </div>
    </article>
</div>