---
import location from '../assets/location-icon.svg'
import phone from '../assets/phone-icon.svg'
import mail from '../assets/mail-icon.svg'
---

<section id="contacto" class=" py-28 px-8 md:px-16 xl:px-50 2xl:px-90 flex flex-col gap-12 items-center">
    <h2 class="text-5xl font-bold">Infórmate</h2>
    <article class="flex flex-col justify-center gap-16">
        <form action="" class="flex flex-col gap-4">
            <label for="" class="flex flex-col gap-1">
                Nombre
                <input type="text" placeholder="Ana" class="border-2 border-gray-500 rounded-lg px-2 py-1">
            </label>
            <label for="" class="flex flex-col gap-1">
                Email
                <input type="email" placeholder="ana@gmail.com" class="border-2 border-gray-500 rounded-lg px-2 py-1">
            </label>
            <label for="" class="flex flex-col gap-1">
                Mensaje
                <textarea name="" id="" class="border-2 border-gray-500 rounded-lg px-2 py-1" placeholder="Escribe tu mensaje aquí ..." cols="50" rows="4"></textarea>                
            </label>
            <button class="bg-[#0a2069] hover:bg-[#3d4778] px-6 py-2 text-white font-semibold cursor-pointer rounded-xl">Enviar</button>
        </form>
    </article>
</section>