<div class="w-full h-28 bg-[#0a2069] text-white">
    <nav class="w-full h-full flex justify-between items-center py-4 px-8 md:px-16 xl:px-50 2xl:px-90">
        <p class="text-4xl">RAINBOW</p>
        <ul class="flex flex-col md:flex-row gap-4">            
            <li><a href="#sobrenosotros" class="cursor-pointer hover:text-gray-500">Conócenos</a></li>
            <li><a href="#clases" class="cursor-pointer hover:text-gray-500">Clases</a></li>
            <li><a href="#metodo" class="cursor-pointer hover:text-gray-500">Metodología</a></li>
            <li><a href="#profesores" class="cursor-pointer hover:text-gray-500">Profesores</a></li>
            <li><a href="#contacto" class="cursor-pointer hover:text-gray-500">Contacto</a></li>
        </ul>
    </nav>
</div>