---
import logo from '../assets/rainbow-logo-image.png'
---

<div class="w-full h-[400px] md:h-[600px] -mt-20 bg-[url('../assets/rainbow-hero-image.webp')] bg-cover flex justify-center items-center">
	<img src={logo.src} alt="Logo empresa. Rainbow - Academia de idiomas y refuerzo escolar" class="w-[600px]">
</div>


